[Unit]
Description=Open WebUI
After=network.target

[Service]
Type=simple
User=open-webui
Group=open-webui
EnvironmentFile=/etc/open-webui/open-webui.env
ExecStart=/opt/open-webui/venv/bin/uvicorn open_webui.main:app --port ${PORT} --host 0.0.0.0 --forwarded-allow-ips *
WorkingDirectory=/opt/open-webui
StateDirectory=open-webui
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
